.board__node {
  display: table-cell;
  width: 25px;
  height: 25px;
  border: 1px solid rgb(179, 229, 252);
  box-sizing: border-box;
}

.board__node:hover {
  opacity: 0.75;
}

.node-start {
  background-color: rgb(67, 160, 71);
  animation: draw-start 0.2s ease-out;
}

.node-finish {
  background-color: rgb(229, 57, 53);
  animation: draw-finish 0.2s ease-out;
}

.node-wall {
  background-color: rgb(0, 0, 0);
  animation: draw-wall 0.2s ease-out;
}

.node-weight-10 {
  background-color: rgb(238, 163, 255);
}

.node-weight-20 {
  background-color: rgb(195, 22, 238);
}

.node-weight-30 {
  background-color: rgb(161, 12, 195);
}

.node-weight-40 {
  background-color: rgb(133, 29, 131);
}

.node-weight-50 {
  background-color: rgb(93, 5, 93);
}

.board__path {
  flex: 1;
  height: 100%;
  pointer-events: none;
}

.node-visited {
  background-color: rgba(15, 203, 236, 0.75);
}

.node-visited.animated {
  animation: draw-visited 1s ease-out;
}

.node-shortest-path {
  background-color: rgba(248, 167, 4, 0.75);
}

.node-shortest-path.animated {
  animation: draw-shortest 1s ease-out;
}

/* Animations */
@keyframes draw-start {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes draw-finish {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes draw-wall {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes draw-visited {
  0% {
    transform: scale(0.3);
    border-radius: 100%;
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes draw-shortest {
  0% {
    transform: scale(0.6);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
